@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    height: 8000px;
}
::-webkit-scrollbar { 
    display: none; 
}
#pageBack{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: linear-gradient(rgb(56, 138, 153), rgb(189, 130, 197));
}
#pageContain{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    transition: all 2s;
}
.slide100{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
#shape{
    width: 200px;
    height: 200px;
    border: 2px solid #FFF;
    position: absolute;
    transform: translate(1000px, 200px);
    top: 1000px;
    left: 200px;
    transition: all 0.1s;
}
#circle{
    width: 100px;
    height: 100px;
    border: 2px solid #FFF;
    position: absolute;
    top: 1600px;
    left: 600px;
    transition: all 0.1s;
    border-radius: 100px;
}
.title{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 6rem;
    color: #FFF;
    margin: 0 auto;
    align-self: center;
    transition: all 2s ease-out;
    transform: scale(0.8);
}
.slideTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 6rem;
    color: #FFF;
    margin: 0 auto;
    align-self: center;
    transition: all 2s ease-out;
    transform: scale(0.8);
}
#pageMarkerContain{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 400px;
    right: 20px;
    top: calc( 50% - 200px);
}
.line{
    height: 50px;
    width: 2px;
    border: 1px solid #FFF;
    position: relative;
}
#dotContain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dot{
    width: 14px;
    height: 14px;
    border-radius: 14px;
    border: 1px solid #FFF;
}
.dotActive{
    background: #FFF;
}
.show{
    opacity: 1;
    transform: scale(1);
}
.scrollY{
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    color: #FFF;
    z-index: 2;
}
#hamburgerIcon{
    position: fixed;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    z-index: 3;
    cursor: pointer;
}
#hamburgerIcon span{
    position: absolute;
    height: 6px;
    background: #FFF;
}
#hamburgerIcon span:nth-of-type(1){
    top: 0;
    right: 0;
    width: 90%;
    transition: all 0.2s;
}
#hamburgerIcon span:nth-of-type(2){
    top: 16px;
    right: 0;
    width: 60%;
    transition: all 0.4s;
}
#hamburgerIcon span:nth-of-type(3){
    top: 32px;
    right: 0;
    width: 30%;
    transition: all 0.6s;
}
#hamburgerIcon:hover span{
    width: 100%;
}
.navMenu{
    position: fixed;
    width: 50%;
    height: 120px;
    background: rgba(255, 255, 255, 0.3);
    top: 0px;
    left: calc(100% - 120px);
    z-index: 3;
    transition: all 0.6s;
    opacity: 0.5;
    border-bottom-left-radius: 25px;
}
.navShow{
    left: 50%;
    opacity: 1;
}