@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    height: 8000px;
}
::-webkit-scrollbar { 
    display: none; 
}
#pageBack{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: linear-gradient(rgb(56, 138, 153), rgb(189, 130, 197));
}
#pageContain{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    transition: all 2s;
}
.slide100{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
#shape{
    width: 200px;
    height: 200px;
    border: 2px solid #FFF;
    position: absolute;
    transform: translate(1000px, 200px);
    top: 1000px;
    left: 200px;
    transition: all 0.1s;
}
#circle{
    width: 100px;
    height: 100px;
    border: 2px solid #FFF;
    position: absolute;
    top: 1600px;
    left: 600px;
    transition: all 0.1s;
    border-radius: 100px;
}
.title{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 6rem;
    color: #FFF;
    margin: 0 auto;
    align-self: center;
    transition: all 2s ease-out;
    transform: scale(0.8);
}
.slideTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 6rem;
    color: #FFF;
    margin: 0 auto;
    align-self: center;
    transition: all 2s ease-out;
    transform: scale(0.8);
}
#pageMarkerContain{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 400px;
    right: 20px;
    top: calc( 50% - 200px);
}
.line{
    height: 50px;
    width: 2px;
    border: 1px solid #FFF;
    position: relative;
}
#dotContain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dot{
    width: 14px;
    height: 14px;
    border-radius: 14px;
    border: 1px solid #FFF;
}
.dotActive{
    background: #FFF;
}
.show{
    opacity: 1;
    transform: scale(1);
}
.scrollY{
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    color: #FFF;
    z-index: 2;
}